.navbar {
  display: flex;
  min-height: 100px;
  height: 10vh;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: rgb(151, 151, 151);
}

.logo {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 32px;
  text-align: center;
}

.inputAndOutput {
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.markdownPreview {
  display: flex;
  height: 90vh;
  justify-content: space-around;
  width: 100%;
  align-items: center;
}
.txtAreaInput {
  resize: none;
  border: none;
  outline: none;
  background-color: rgb(52, 52, 52);
  width: 100%;
  max-width: 550px;
  height: 100%;
  max-height: 600px;
  color: rgb(151, 151, 151);
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  padding: 10px;
}

.output {
  overflow-y: scroll;
  border: none;
  outline: none;
  background-color: rgb(52, 52, 52);
  width: 100%;
  max-width: 550px;
  height: 100%;
  max-height: 600px;
  color: rgb(151, 151, 151);
  padding: 10px;
}
.output ul {
  padding-left: 30px;
}

.output img {
  width: 100%;
  height: 100%;
}

.output a {
  color: white;
  text-decoration: none;
}

@media screen and (max-width: 1150px) {
  .markdownPreview {
    flex-direction: column;
  }
  .txtAreaInput {
    margin: 30px;
  }
  .output {
    margin: 30px;
  }
}
